<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B07D2981B68E0F6001C146F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B07D2AC1B68E0F7001C146F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B07D2B71B68E0F7001C146F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
